<!-- <thead>
  <th>Id</th>
 <th>FirstName</th>
 <th>LastName</th>
 <th>gradYear</th>
 <th>Major</th>
</thead>
<tbody *ngFor= "let user of Students">
  <td>{{user.studentId}}</td>
  <td>{{user.firstName}}</td>
  <td>{{user.lastName}}</td>
  <td>{{user.major}}</td>
  <td>{{user.gradYear}}</td>
  <td><Button (click)= "deleteStudent(user.studentId)">Delete</Button></td>
  <td><Button >Edit</Button></td>
  <td><Button>Add</Button></td>
  
</tbody> -->
<h4 style="color: blue">Register here to get the latest updates</h4>
<mat-card>
  <form action="">
    <label for="FirstName">First Name</label>
    <input type="text" id="FirstName" required> <br>

    <label for="FirstName">Last Name</label>
    <input type="text" id="FirstName" required> <br>

    <label for="FirstName">Email</label>
    <input type="text" id="FirstName" required> <br>

    <label for="FirstName">Phone</label>
    <input type="text" id="FirstName" required> <br>
  </form>
</mat-card>